/* Shadow DOM CSS Cheat Sheet */
/* http://robdodson.me/blog/2014/04/10/shadow-dom-css-cheat-sheet */

/* styles for the custom element itself - lowest specificity */
:host {
  display: block;
}

.card {
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  background-color: rgb(255, 255, 255);
  padding: 12px;
}

.center-content {
  text-align: center;
}
